{% load i18n %}
{% load vote_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Time' %}</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Score' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in my_votes %}
                <tr>
                    <td>
                        {{ vote.created_at | date:'Y.m.d H:i' }}
                        <span class="hidden-xs">{{ vote.created_at | date:'l' }}</span>
                    </td>
                    <td>{{ vote.child_name.name }}</td>
                    <td>
                        {% if vote.score > 0 %}
                            {% stars value=vote.score %}
                        {% else %}
                            {{ vote.get_score_name }}
                        {% endif %}
                    </td>
                </tr>
            {% empty %}
                <div class="alert alert-danger text-center table-info">
                    {% trans 'No votes found yet.' %}
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>