{% load i18n %}
{% load vote_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Last Score' %}</th>
                <th>{% trans 'Change' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for name in names %}
                <tr>
                    <td>{{ name.name }}</td>
                    <td>
                        {% if name.my_score > 0 %}
                            {% stars value=name.my_score %}
                        {% else %}
                            {{ name.get_my_score_name }}
                        {% endif %}
                    </td>
                    <td class="vote-edit">
                        {% if name.my_score != null %}
                            <form method="post" action="{% url 'voter:vote' type='change' %}">
                                <button type="submit" class="btn-link" title="Change score">
                                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                                </button>
                                <input type="hidden" name="child_name_id" value="{{ name.id }}" />
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>