{% load i18n %}
{% load vote_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Common Score' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for child_name in common_best_names %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ child_name.name }}</td>
                    <td>
                        {% stars value=child_name.my_score %}
                        {% stars value=child_name.sps_score type='empty' %}
                    </td>
                </tr>
            {% empty %}
                 <div class="alert alert-danger text-center table-info">
                    {% trans 'No names found yet.' %}
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>