{% load i18n %}
{% load vote_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Score' %}: {{ user.username }}</th>
                <th>{% trans 'Score' %}: {{ spouse.username }}</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in common_total_names %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ vote.name }}</td>
                    <td>{% stars value=vote.my_score %}</td>
                    <td>{% stars value=vote.sps_score type='empty' %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>