{% load i18n %}
{% load vote_tags %}

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans 'Name' %}</th>
                <th>{% trans 'Score' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for vote in my_best_names %}
                <tr>
                    <td>{{ forloop.counter }}.</td>
                    <td>{{ vote.child_name.name }}</td>
                    <td>{% stars value=vote.score %}</td>
                </tr>
            {% empty %}
                <div class="alert alert-danger text-center table-info">
                    {% trans 'No names found yet.' %}
                </div>
            {% endfor %}
        </tbody>
    </table>
</div>