{% extends 'voter/layout.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-5">
            <div class="panel panel-default">
                <div class="panel-heading text-left">
                    <strong>{% trans 'Welcome' %}</strong>
                </div>
                <table class="table table-bordered">
                    <tr class="text-center">
                        <td>{% trans 'Logged in' %}<br/><strong>{{ request.user.username }}</strong></td>
                        <td>{% trans 'Family' %}<br/><strong>{{ family.last_name }}</strong></td>
                        <td>
                            {% trans 'Spouse' %}<br/>
                            <strong>{{ spouse.username }}</strong>
                            <span class="badge">{{ sps_to_vote_count }}</span>
                        </td>
                    </tr>
                </table>
                <div class="panel-footer text-center">
                    <form class="form-inline" method="post" action="{% url 'voter:child-change' %}">
                        {% csrf_token %}
                        <div class="input-group last-group">
                            <span class="input-group-addon">{% trans 'Child' %}</span>
                            <select
                                    name="selected_child_id"
                                    id="child-selector"
                                    class="form-control"
                                    title="{% trans 'Child' %}"
                            >
                                <option value="0">{% trans 'Please select the child!' %}</option>
                                {% for child in children %}
                                    <option
                                            value="{{ child.id }}"
                                            {% if request.session.active_child_id == child.id %}
                                                selected="selected"
                                            {% endif %}
                                    >{{ child.title }} - {{ child.get_sex_display }}</option>
                                {% endfor %}
                            </select>
                            <span class="input-group-btn">
                                <a
                                        href="#"
                                        class="btn btn-warning"
                                        data-toggle="modal"
                                        data-target="#childModal"
                                        role="button"
                                >
                                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                </a>
                            </span>
                        </div>
                    </form>
                </div>

            </div>

            {% if request.session.active_child_id != None %}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{% trans 'Progress' %}</strong>
                    </div>
                    <table class="table table-bordered">
                        <tr class="text-center">
                            <td>
                                {% trans 'Total' %}<br/>
                                <span class="label label-primary">{{ all_name_count }}</span>
                            </td>
                            <td>
                                {% trans 'No way!' %}<br/>
                                <span class="label label-danger">{{ my_no_way_count }}</span>
                            </td>
                            <td>
                                {% trans 'Why not?' %}<br/>
                                <span class="label label-warning">{{ my_why_not_count }}</span>
                            </td>
                            <td>
                                {% trans 'Ranked' %}<br/>
                                <span class="label label-success">{{ my_ranked_count }}</span>
                            </td>
                            <td>
                                {% trans 'Left' %}<br/>
                                <span class="label label-info">{{ my_to_vote_count }}</span>
                            </td>
                        </tr>
                    </table>
                    <div class="panel-body">
                        <h4>
                            {{ request.user.username }}
                            &nbsp;<small>{% blocktrans %}{{ my_to_vote_count }} names to go{% endblocktrans %}</small>
                        </h4>
                        <div class="progress">
                            <div
                                    class="progress-bar {% if my_progress == 100 %}progress-bar-success{% endif %}"
                                    role="progressbar"
                                    aria-valuenow="{{ my_progress }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: {{ my_progress}}%;"
                            >
                                {{ my_progress }}%
                            </div>
                        </div>
                        <h4>
                            {{ spouse.username }}
                            &nbsp;<small>{% blocktrans %}{{ sps_to_vote_count }} names to go{% endblocktrans %}</small>
                        </h4>
                        <div class="progress">
                            <div
                                    class="progress-bar {% if sps_progress == 100 %}progress-bar-success{% else %}progress-bar-warning{% endif %}"
                                    role="progressbar"
                                    aria-valuenow="{{ sps_progress }}"
                                    aria-valuemin="0"
                                    aria-valuemax="100"
                                    style="width: {{ sps_progress}}%;"
                            >
                                {{ sps_progress }}%
                            </div>
                        </div>
                    </div>
                    {% if my_to_vote_count > 0 %}
                        <div class="panel-footer text-center">
                            <a class="btn btn-success btn-lg" href="{% url 'voter:vote' type='random' %}" role="button">
                                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                {% trans 'Vote' %} <span class="badge">{{ my_to_vote_count }}</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
            {% endif %}
        </div>

        {% if request.session.active_child_id != None %}
            <div class="col-md-7" id="result-container">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{% trans 'My Results' %}</strong>
                    </div>
                    <div class="panel-body">
                        {% include 'voter/block/my-results.html' %}
                    </div>
                </div>

                <div class="panel panel-default">
                    <div class="panel-heading">
                        <strong>{% trans 'Family Results' %}</strong>
                    </div>
                    <div class="panel-body">
                        {% include 'voter/block/family-results.html' %}
                    </div>
                </div>
            </div>
        {% endif %}
    </div>

    {% include 'voter/block/childform.html' %}
{% endblock %}
