{% load static %}
{% load i18n %}
{% load main_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ BRAND }} - {% trans 'The best tool to choose the name!' %}</title>

    <link rel="shortcut icon" href="{% static 'voter/images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'voter/images/favicon.ico' %}" type="image/x-icon">

    {% include 'voter/block/vendor.cdn.html' %}

    <link href="{% static 'voter/css/style.css' %}" rel="stylesheet">
    {% skin_css SKIN %}

    <script src="{% static 'voter/js/script.js' %}"></script>
</head>
<body class="child-{{ active_child.sex|lower }}">
    {% if YNAMER_ENV == 'production' %}
        {% include 'voter/block/analytics.html' %}
    {% endif %}

    <div class="container">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button
                            type="button"
                            class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#navbar-content"
                            aria-expanded="false"
                    >
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">
                        <strong>{{ BRAND }}</strong>
                    </a>
                    {% block header_fix_text %}{% endblock %}
                </div>

                <div class="collapse navbar-collapse" id="navbar-content">
                    <p class="navbar-text navbar-left">
                        {% block header_collapse_text %}
                            {% trans 'The best tool to choose the name!' %}
                        {% endblock %}
                    </p>
                    {% block header_content %}
                        <ul class="nav navbar-nav navbar-right">
                            {% if not request.user.is_anonymous and active_child and my_to_vote_count %}
                                <li>
                                    <a href="{% url 'voter:vote' type='random' %}">
                                        <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                                        &nbsp;{% trans 'Vote' %}
                                    </a>
                                </li>
                            {% endif %}
                            {% language_selector %}
                            {% skin_selector SKIN %}
                            {% if not request.user.is_anonymous %}
                                <li>
                                    <a href="{% url 'voter:logout' %}">
                                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                                        &nbsp;{% trans 'Logout' %}
                                    </a>
                                </li>
                            {% endif %}
                          </ul>
                    {% endblock %}
                </div>
            </div>
        </nav>

        {% block content %}{% endblock %}

        <h5 class="text-center"><small>norbert.lehotzky &copy; 2020 | {{ BUILD }}</small></h5>
    </div>
</body>
</html>