{% extends 'voter/layout.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4">
            <form method="post" action="{% url 'voter:login' %}">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading text-left"><strong>{% trans 'Login' %}</strong></div>
                    <div class="panel-body">
                        {% if login_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ login_form.non_field_errors }}
                            </div>
                        {% endif %}
                        {{ login_form.username.errors }}
                        <div class="input-group">
                            <span class="input-group-addon" id="login-username-icon">
                                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            </span>
                            {{ login_form.username }}
                        </div>
                        {{ login_form.password.errors }}
                        <div class="input-group">
                            <span class="input-group-addon" id="login-password-icon">
                                <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                            </span>
                            {{ login_form.password }}
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-primary">
                            <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span>
                            {% trans 'Submit' %}
                        </button>
                        <a class="btn btn-warning" role="button" href="{% url 'voter:signup' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                            {% trans 'Signup' %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}