{% extends 'voter/layout.html' %}

{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-8">
            <form method="post" action="{% url 'voter:signup' %}">
                {% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading text-left">
                        <strong>{% trans 'Signup' %}</strong>
                    </div>
                    <div class="panel-body">
                        {% if signup_form.non_field_errors %}
                            <div class="alert alert-danger" role="alert">
                                {{ signup_form.non_field_errors }}
                            </div>
                        {% endif %}
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h5>{% trans "Mommy's Data" %}</h5>
                                {{ signup_form.mom_email.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="mom-email-icon">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.mom_email }}
                                </div>
                                {{ signup_form.mom_username.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="mom-username-icon">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.mom_username }}
                                </div>
                                {{ signup_form.mom_password.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="mom-password-icon">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.mom_password }}
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h5>{% trans "Daddy's Data" %}</h5>
                                {{ signup_form.dad_email.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="dad-email-icon">
                                        <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.dad_email }}
                                </div>
                                {{ signup_form.dad_username.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="dad-username-icon">
                                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.dad_username }}
                                </div>
                                {{ signup_form.dad_password.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="dad-password-icon">
                                        <span class="glyphicon glyphicon-asterisk" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.dad_password }}
                                </div>

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-6">
                                <h5>{% trans "Family's Data" %}</h5>
                                {{ signup_form.family_name.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="family-name-icon">
                                        <span class="glyphicon glyphicon-font" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.family_name }}
                                </div>
                                {{ signup_form.language.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="language-addon">
                                        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.language }}
                                </div>

                            </div>
                            <div class="col-xs-12 col-sm-6">
                                <h5>{% trans "Baby's Data" %}</h5>
                                {{ signup_form.child_title.errors }}
                                <div class="input-group input-group-sm">
                                    <span class="input-group-addon" id="title-addon">
                                        <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                                    </span>
                                    {{ signup_form.child_title }}
                                </div>
                                {{ signup_form.sex.errors }}
                                <div class="btn-group btn-group-justified" data-toggle="buttons">
                                    <label class="btn btn-info btn-sm">
                                        <input type="radio" name="sex" id="sex-boy" autocomplete="off" value="B">
                                        <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                                        &nbsp;&nbsp;<strong>{% trans 'Boy' %}</strong>
                                    </label>
                                    <label class="btn btn-danger btn-sm">
                                        <input type="radio" name="sex" id="sex-girl" autocomplete="off" value="G">
                                        <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
                                        &nbsp;&nbsp;<strong>{% trans 'Girl' %}</strong>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-center">
                        <button type="submit" class="btn btn-success">
                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            {% trans 'Submit' %}
                        </button>
                        <a class="btn btn-default" role="button" href="{% url 'voter:login' %}">
                            <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            {% trans 'Cancel' %}
                        </a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}