{% extends 'voter/layout.html' %}

{% load i18n %}

{% block header_fix_text %}
    <p class="navbar-text">
        {% if change_mode %}
            {% trans 'Change score' %}
        {% elif total_count > 1 %}
            {% blocktrans %}{{ total_count }} names to go!{% endblocktrans %}
        {% else %}
            {% trans 'Last name, congratulations!' %}
        {% endif %}
    </p>
{% endblock %}

{% block header_collapse_text %}{% endblock %}

{% block header_content %}
    {% if not change_mode %}
        <div class="btn-group navbar-right" role="group">
            <a
                    href="{% url 'voter:vote' type='first-round' %}"
                    class="btn btn-default btn-sm navbar-btn
                        {% if type == 'first-round' %}active{% endif %}
                        {% if first_round_count == 0 %}disabled{% endif %}"
                    role="button"
            >
                <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>&nbsp;
                {% trans 'First Round' %}
            </a>
            <a
                    href="{% url 'voter:vote' type='second-round' %}"
                    class="btn btn-default btn-sm navbar-btn
                        {% if type == 'second-round' %}active{% endif %}
                        {% if second_round_count == 0 %}disabled{% endif %}"
                    role="button"
            >
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span>&nbsp;
                {% trans 'Second Round' %}
            </a>
            <a
                    href="{% url 'voter:vote' type='random' %}"
                    class="btn btn-default btn-sm navbar-btn {% if type == 'random' %}active{% endif %}"
                    role="button"
            >
                <span class="glyphicon glyphicon-random" aria-hidden="true"></span>&nbsp;
                {% trans 'Random' %}
            </a>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    <div class="jumbotron">
        <h1 class="text-center">{{ child_name.name }}</h1>
        <h3 class="text-center">{{ family.last_name }} {{ child_name.name }}</h3>

        <div class="loader"></div>
        <div class="row vote-button-container">
            <form id="vote-form" method="post" action="{% url 'voter:vote-save' %}">
                {% csrf_token %}
                {% if child_name.last_score is None or change_mode%}
                    <div class="col-xs-6">
                        <button
                                type="submit"
                                class="btn btn-danger btn-lg vote-btn h100
                                    {% if change_mode and child_name.last_score == last_vote.SCORE_NO_WAY %}
                                        disabled
                                    {% endif %}"
                                name="score"
                                value="-1"
                        >
                            <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>
                            &nbsp;{% trans 'No way!' %}
                        </button>
                    </div>
                    <div class="col-xs-6">
                        <button
                                type="submit"
                                class="btn btn-lg vote-btn h100
                                    btn-{% if change_mode %}warning{% else %}success{% endif %}
                                    {% if change_mode and child_name.last_score == last_vote.SCORE_WHY_NOT %}
                                        disabled
                                    {% endif %}"
                                name="score"
                                value="0"
                        >
                            <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>
                            &nbsp;{% trans 'Why not?' %}
                        </button>
                    </div>
                {% endif %}
                {% if child_name.last_score is not None or change_mode %}
                    {% load vote_tags %}
                    {% for i in '123456'|make_list %}
                        <div class="col-sm-4 col-xs-6">{% star_button forloop.counter child_name.last_score %}</div>
                    {% endfor %}
                {% endif %}
                <input type="hidden" name="child_name_id" value="{{ child_name.id }}" />
                <input type="hidden" name="vote_type" value="{{ type }}" />
                {% if change_mode %}
                    <input type="hidden" name="redirect" value="{{ back_url }}" />
                {% endif %}
            </form>
        </div>
        {% if total_count > 1 or previous_child_name_id %}
            <div class="row" style="margin-top: 20px;">
                {% if previous_child_name_id %}
                    <div class="col-xs-{% if total_count > 1 %}6{% else %}12{% endif %}">
                        <form method="post" action="{% url 'voter:vote' type='change' %}">
                            <button type="submit" class="btn btn-info btn-lg vote-btn">
                                <span class="glyphicon glyphicon-backward" aria-hidden="true"></span>
                                &nbsp;{% trans 'Previous' %}
                            </button>
                            <input type="hidden" name="child_name_id" value="{{ previous_child_name_id }}" />
                            <input type="hidden" name="step_back" value="1" />
                            <input type="hidden" name="previous_type" value="{{ type }}" />
                        </form>
                    </div>
                {% endif %}
                {% if total_count > 1 %}
                    <div class="col-xs-{% if previous_child_name_id %}6{% else %}12{% endif %}">
                        <a class="btn btn-info btn-lg vote-btn" href="{% url 'voter:vote' type=type %}" role="button">
                            <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span>
                            &nbsp;{% trans 'Skip' %}
                        </a>
                    </div>
                {% endif %}
            </div>
        {% endif %}
        <div class="row" style="margin-top: 20px;">
            <div class="col-xs-6 col-xs-offset-3">
                <a class="btn btn-default btn-lg vote-btn" href="{{ back_url }}" role="button">
                    <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    {% if change_mode %}{% trans 'Cancel' %}{% else %}{% trans 'Done' %}{% endif %}
                </a>
            </div>
        </div>
    </div>
{% endblock %}