{% load i18n %}

<div class="modal fade" id="childModal" tabindex="-1" role="dialog" aria-labelledby="childModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <form method="post" action="{% url 'voter:child-save' %}">
                {% csrf_token %}
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="childModalLabel">{% trans 'New child' %}</h4>
                </div>
                <div class="modal-body">
                    {{ child_form.title.errors }}
                    {{ child_form.family_id }}
                    <div class="input-group input-group-sm">
                        <span class="input-group-addon" id="title-addon">
                            <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                        </span>
                        {{ child_form.title }}
                    </div>
                    {{ child_form.sex.errors }}
                    <div class="btn-group btn-group-justified" data-toggle="buttons">
                        <label class="btn btn-info btn-sm">
                            <input type="radio" name="sex" id="sex-boy" autocomplete="off" value="B">
                            <span class="glyphicon glyphicon-king" aria-hidden="true"></span>
                            &nbsp;&nbsp;<strong>{% trans 'Boy' %}</strong>
                        </label>
                        <label class="btn btn-danger btn-sm">
                            <input type="radio" name="sex" id="sex-girl" autocomplete="off" value="G">
                            <span class="glyphicon glyphicon-queen" aria-hidden="true"></span>
                            &nbsp;&nbsp;<strong>{% trans 'Girl' %}</strong>
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                        {% trans 'Save' %}
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">
                        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                        {% trans 'Cancel' %}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>