{% load i18n %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a
                href="#common-best"
                aria-controls="common-best"
                role="tab"
                data-toggle="tab"
                data-async="{% url 'voter:async-common-best-names' %}"
        >
            <span class="glyphicon glyphicon-link" aria-hidden="true"></span>&nbsp;&nbsp;{% trans 'Common Best' %}
        </a>
    </li>
    <li role="presentation">
        <a
                href="#common-total"
                aria-controls="best-names"
                role="tab"
                data-toggle="tab"
                {% if common_total_active %}
                    data-async="{% url 'voter:async-common-total-names' %}"
                {% endif %}
        >
            <span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>&nbsp;&nbsp;{% trans 'Common Total' %}
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content tab-scroll">
    <div role="tabpanel" class="tab-pane" id="common-best">
        <div class="async-loader table-info alert alert-info text-center">
            {% trans 'Loading...' %}
        </div>
        <div class="async-content"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="common-total">
        {% if common_total_active %}
            <div class="async-loader table-info alert alert-info text-center">
                {% trans 'Loading...' %}
            </div>
            <div class="async-content"></div>
        {% else %}
            <div class="alert alert-danger text-center table-info">
                {% trans 'This list is only available when both parents are done!' %}
            </div>
        {% endif %}
    </div>
</div>