{% load i18n %}

<!-- Nav tabs -->
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation">
        <a
                href="#best-names"
                aria-controls="best-names"
                role="tab"
                data-toggle="tab"
                data-async="{% url 'voter:async-my-best-names' %}"
        >
            <span class="glyphicon glyphicon-heart-empty" aria-hidden="true"></span>&nbsp;&nbsp;{% trans 'My Best Names' %}
        </a>
    </li>
    <li role="presentation">
        <a
                href="#all-my-votes"
                aria-controls="all-my-votes"
                role="tab"
                data-toggle="tab"
                data-async="{% url 'voter:async-all-my-votes' %}"
        >
            <span class="glyphicon glyphicon-time" aria-hidden="true"></span>&nbsp;&nbsp;{% trans 'All My Votes' %}
        </a>
    </li>
    <li role="presentation">
        <a
                href="#all-names"
                aria-controls="all-names"
                role="tab"
                data-toggle="tab"
                data-async="{% url 'voter:async-all-names' %}"
        >
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>&nbsp;&nbsp;{% trans 'All Names' %}
        </a>
    </li>
</ul>

<!-- Tab panes -->
<div class="tab-content tab-scroll">
    <div role="tabpanel" class="tab-pane" id="best-names">
        <div class="async-loader table-info alert alert-info text-center">
            {% trans 'Loading...' %}
        </div>
        <div class="async-content"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-my-votes">
        <div class="async-loader table-info alert alert-info text-center">
            {% trans 'Loading...' %}
        </div>
        <div class="async-content"></div>
    </div>

    <div role="tabpanel" class="tab-pane" id="all-names">
        <div class="async-loader table-info alert alert-info text-center">
            {% trans 'Loading...' %}
        </div>
        <div class="async-content"></div>
    </div>
</div>