/* Common elements */
body {
    padding-top: 70px;
}

body.busy {
    cursor: wait;
}

form#language-selector-form {
    display: none;
}

a.language-selector-link {
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: 20px center;
    padding-left: 40px !important;
    display: block;
}

a.language-selector-link.hu {
    background-image: url('/static/voter/images/hu.svg') !important;
}

a.language-selector-link.de {
    background-image: url('/static/voter/images/de.svg') !important;
}

a.language-selector-link.en {
    background-image: url('/static/voter/images/en.svg') !important;
}

/* Navbar */
.navbar-brand {
    font-size: x-large;
}
.navbar-right {
    margin-right: 0 !important;
}

/* Vote page */
.vote-button-container div {
    margin-top: 10px;
}

.vote-btn {
    width: 100%;
}

.vote-btn.h100 {
    height: 100px;
}

.vote-btn.h60 {
    height: 60px;
}

.vote-btn span.glyphicon-star {
    font-size: 14px;
}

/* Index page */
.tab-scroll {
    max-height: 600px;
    overflow: scroll;
}
.table-info {
    margin: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group.last-group {
    margin-bottom: 0;
}

ul.errorlist {
    list-style-type: none;
    padding-left: 0;
    font-weight: bold;
    color: red;
}

/* Vote page loader */
.loader {
    display: none;
    margin-top: 15px;
    margin-bottom: 10px;
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}

.loader:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #5bc0de;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}