{% load i18n %}

<li class="dropdown">
    <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
    >
        <span class="glyphicon glyphicon-globe" aria-hidden="true"></span>
         {% trans 'Language' %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}

        {% for language in languages %}
            <li {% if language.code == LANGUAGE_CODE %}class="disabled"{% endif %}>
                <a href="#" class="language-selector-link {{ language.code }}" data-lang="{{ language.code }}">
                    {{ language.name_local }}
                </a>
            </li>
        {% endfor %}
    </ul>
</li>

<form id="language-selector-form" action="{% url 'voter:set_language' %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="language" value="" />
</form>