{% load i18n %}

<li class="dropdown">
    <a
            href="#"
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
    >
        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
         {% trans 'Skin' %} <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        {% for skin in skins %}
            <li {% if skin == selected_skin %}class="disabled"{% endif %}>
                <a href="{% url 'voter:skin-change' %}?s={{ skin }}">{{ skin|title }}</a>
            </li>
            {% if skin == 'default' %}
                <li role="separator" class="divider"></li>
            {% endif %}
        {% endfor %}
        <li class="dropdown-header">by bootswatch.com</li>
    </ul>
</li>